# 📦 Основные библиотеки
pandas==2.2.3
numpy==2.2.5
matplotlib==3.10.3
plotly==5.21.0
scikit-learn==1.5.0
scipy==1.13.0
dash==2.16.1
pyyaml==6.0.1
tqdm==4.66.4

# 👇 Дополнительно для 3D и работы с облаками точек
# open3d==0.18.0
trimesh==4.4.0
pyvista==0.43.4
Pillow==11.2.0
